<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/textcolors.css">
    <title>Document Scanner</title>
</head>
<body>
    
    
    {% include "includes/messages.html" %}
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name = "pic">
        <p>Lütfen A4 Kağıdınızı Buraya Sürükleyiniz veya Tıklayınız!</p>
        <button type="submit">Tarama İşlemini Başlat</button>
      </form>








      
</body>
</html>